env:
  global:
    - CI_HOME=`pwd`/meta_request
install: 
  - sh -c 'cd meta_request && bundle install'
  - sh -c 'cd meta_request/test/functional/rails-4.1.4 && bundle install'
script:  sh -c 'cd meta_request && make'
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.2
