<html ng-app="" ng-csp="">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/panel.css">
    <script src="vendor/javascripts/jquery-1.8.3.min.js"></script>
    <script src="vendor/javascripts/jquery-ui-1.9.2.tabs.min.js"></script>
    <script src="vendor/javascripts/sugar-1.3.6.min.js"></script>
    <script src="vendor/javascripts/angular.min.js"></script>
    <script src="assets/javascripts/transactions.js"></script>
    <script src="assets/javascripts/development.js"></script>
    <script src="assets/javascripts/panel.js"></script>

  </head>
  <body>
    <div class="split-view" ng-controller='TransactionsCtrl'>
      <div class="split-view-contents split-view-contents-details">
        <div id="tabs" class="tabbed-pane">
          <div class="tabbed-pane-header">
            <div class="tabbed-pane-header-contents">
              <ul class="tabbed-pane-header-tabs">
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-db" class="tabbed-pane-header-tab-title">DB</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-views" class="tabbed-pane-header-tab-title">View</a>
                </li>
              </ul>
            </div>
          </div> 
          <div class="tabbed-pane-content data-grid data-grid-details">
            <div id="tab-db">
              <table id="db">
                <tr>
                  <th>Type</th>
                  <th>SQL</th>
                  <th class="duration">Duration</th>
                </tr>
                <tr ng-repeat="sql in activeSqls()">
                  <td>{{sql.payload.name}}</td>
                  <td>{{sql.payload.sql}}</td>
                  <td class="duration">{{sql.duration | number:3}}</td>
                </tr>
              </table>
            </div>
            <div id="tab-views">
              <table id="views">
                <tr>
                  <th>View</th>
                  <th class="duration">Duration</th>
                </tr>
                <tr ng-repeat="view in activeViews()">
                  <td>{{view.payload.virtual_path}}</td>
                  <td class="duration">{{view.duration | number:3}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="split-view-contents split-view-contents-requests">
        <div class="data-grid data-grid-requests">
          <table class="header">
            <tr>
              <th class='status'>Status</th>
              <th class='controller'>Controller#Action</th>
              <th class='method'>Method</th>
              <th class='format'>Format</th>
              <th class='db'>DB</th>
              <th class='view'>View</th>
              <th class='duration'>Total</th>
            </tr>
          </table>
          <div class="data-container">
            <table id="requests">
              <tr ng-repeat="request in requests()" ng-click="setActive(request.key)" ng-class="getClass(request.key)">
                <td class='status'>{{request.payload.status}}</td>
                <td
                  class='controller'>{{request.payload.controller}}#{{request.payload.action}}</td>
                <td class='method'>{{request.payload.method}}</td>
                <td class='format'>{{request.payload.format}}</td>
                <td class='db'>{{request.payload.db_runtime | number:0}}</td>
                <td class='view'>{{request.payload.view_runtime | number:0}}</td>
                <td class='duration'>{{request.duration | number:0}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
