<html ng-app="" ng-csp="">
  <head>
    <link rel="stylesheet" type="text/css" href="vendor/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/options.css">
    <script src="vendor/assets/javascripts/jquery-1.8.3.min.js"></script>
    <script src="vendor/assets/javascripts/sugar-1.3.6.min.js"></script>
    <script src="vendor/assets/javascripts/angular.min.js"></script>
    <script src="assets/javascripts/options.js"></script>
  </head>
  <body>
    <div>
      <h2>
        <img src="assets/images/Rails_Logo_48x48.png"/>
        RailsPanel
      </h2>
      <form class="form-options" ng-controller="OptionsCtrl">
        <legend>Editor integration</legend>
        <label class="radio">
          <input type="radio" name="storage.editor" value="mate" ng-model="editor">
          TextMate
        </label>
        <label class="radio">
          <input type="radio" name="storage.editor" value="mvim" ng-model="editor">
          MacVim
        </label>
        <label class="radio" ng-hide="is_win32">
          <input type="radio" name="storage.editor" value="subl" ng-model="editor">
          Sublime
          <small>
            (<a href="https://github.com/asuth/subl-handler" target="_blank">requires subl-handler</a>)
          </small>
        </label>
        <label class="radio" ng-show="is_win32">
          <input type="radio" name="storage.editor" value="sblm" ng-model="editor">
          Sublime for Windows
          <small>
            (<a href="https://bitbucket.org/sublimator/sublimeprotocol/overview" target="_blank">requires SublimeProtocol</a>)
          </small>
        </label>
        <label class="radio">
          <input type="radio" name="storage.editor" value="emacs" ng-model="editor">
          Emacs
          <small>
            (<a href="https://github.com/typester/emacs-handler" target="_blank">requires emacs-handler</a>)
          </small>
        </label>
        <label class="radio">
          <input type="radio" name="storage.editor" value="atom" ng-model="editor">
          Atom
          <small>
            (<a href="https://github.com/WizardOfOgz/atom-handler" target="_blank">requires atom-handler</a>)
          </small>
        </label>
        <label class="radio">
            <input type="radio" name="storage.editor" value="mine" ng-model="editor">
            RubyMine
        </label>
        <label class="radio">
            <input type="radio" name="storage.editor" value="vscode" ng-model="editor">
            Visual Studio Code
        </label>
      </form>
      <div class="footer">Developed by <a href="http://rors.org" target="_blank">Dejan Simic</a></div>
    </div>
  </body>
</html>
