<html ng-app="RailsPanel" ng-csp="">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/panel.css">

    // 3rd party
    <script src="vendor/assets/javascripts/jquery-1.8.3.min.js"></script>
    <script src="vendor/assets/javascripts/jquery-ui-1.9.2.tabs.min.js"></script>
    <script src="vendor/assets/javascripts/stupidtable.min.js"></script>
    <script src="vendor/assets/javascripts/sugar-1.3.6.min.js"></script>
    <script src="vendor/assets/javascripts/sprintf-0.7-beta1.js"></script>
    <script src="vendor/assets/javascripts/URI.min.js"></script>
    <script src="vendor/assets/javascripts/keymaster.min.js"></script>
    <script src="vendor/assets/javascripts/ansi2html.js"></script>
    <script src="vendor/assets/javascripts/angular.min.js"></script>

    // the app
    <script src="assets/javascripts/filters.js"></script>
    <script src="assets/javascripts/transactions.js"></script>
    <script src="assets/javascripts/standalone.js"></script>
    <script src="assets/javascripts/dividers.js"></script>
    <script src="assets/javascripts/panel.js"></script>
    <script src="assets/javascripts/requests.js"></script>
    <script src="assets/javascripts/init.js"></script>

  </head>
  <body class="rails-panel">
    <div class="split-view" ng-controller='TransactionsCtrl'>
      <div class="split-view-contents split-view-contents-requests">
        <div class="data-grid data-grid-requests">
          <table class="header">
            <tr>
              <th class='status'>Status</th>
              <th class='controller'>Controller#Action</th>
              <th class='method'>Method</th>
              <th class='format'>Format</th>
              <th class='duration'>Resp. Time</th>
            </tr>
          </table>
          <div class="data-container">
            <table id="requests">
              <tr ng-repeat="request in requests()" ng-click="setActive(request.key)" ng-class="getClass(request.key)">
                <td class='status'>{{request.payload.status}}</td>
                <td class='controller'>{{request.payload.controller}}#{{request.payload.action}}</td>
                <td class='method'>{{request.payload.method}}</td>
                <td class='format'>{{request.payload.format}}</td>
                <td class='duration'>{{request.duration | number:0}} ms</td>
              </tr>
              <tr class="filler">
                <td class='status'></td>
                <td class='controller'></td>
                <td class='method'></td>
                <td class='format'></td>
                <td class='duration'></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="split-view-contents split-view-contents-details">
        <div id="message-box" ng-show="outdatedMetaRequest()" >
          You are using outdated version of meta_request gem. Please upgrade the gem.
        </div>
        <div id="vdivider"></div>
        <div id="tabs" class="tabbed-pane">
          <div id="hdivider"></div>
          <div class="tabbed-pane-header">
            <div class="tabbed-pane-header-contents">
              <ul class="tabbed-pane-header-tabs">
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-breakdown" class="tabbed-pane-header-tab-title">Breakdown</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-params" class="tabbed-pane-header-tab-title">Params</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-db" class="tabbed-pane-header-tab-title">ActiveRecord</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-views" class="tabbed-pane-header-tab-title">Rendering</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-cache" class="tabbed-pane-header-tab-title">Cache</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-log" class="tabbed-pane-header-tab-title">Log</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-error" class="tabbed-pane-header-tab-title">Error</a>
                </li>
              </ul>
            </div>
          </div>


          <div class="tabbed-pane-content data-grid data-grid-details">
            <div id="tab-breakdown">
              <table id="breakdown" class="stupidtable" ng-show="notEmpty(requests())" >
                <thead>
                  <tr>
                    <th data-sort="string">Component</th>
                    <th data-sort="float" class="duration">Execution time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="meter-col">
                      <div class="meter" style="width:{{activeRequest().payload.dbRuntimeRounded/activeRequest().duration*100}}%;">
                        <span class="meter-val">ActiveRecord</span>
                      </div>
                    </td>
                    <td class="duration" data-sort-value="-{{activeRequest().payload.dbRuntimeRounded}}">{{activeRequest().payload.dbRuntimeRounded | number:0}} ms</td>
                  </tr>
                  <tr>
                    <td class="meter-col">
                      <div class="meter" style="width:{{activeRequest().payload.viewRuntimeRounded/activeRequest().duration*100}}%;">
                        <span class="meter-val">Rendering</span>
                      </div>
                    </td>
                    <td class="duration" data-sort-value="-{{activeRequest().payload.viewRuntimeRounded}}">{{activeRequest().payload.viewRuntimeRounded | number:0}} ms</td>
                  </tr>
                  <tr>
                    <td class="meter-col">
                      <div class="meter" style="width:{{activeRequest().payload.otherRuntimeRounded/activeRequest().duration*100}}%;">
                        <span class="meter-val">Other</span>
                      </div>
                    </td>
                    <td class="duration" data-sort-value="-{{activeRequest().payload.otherRuntimeRounded}}">{{activeRequest().payload.otherRuntimeRounded | number:0}} ms</td>
                  </tr>
                </tbody>
              </table>
            </div>

           <div id="tab-params">
              <table id="params" class="stupidtable" ng-show="notEmpty(activeParams())" >
                <thead>
                  <tr>
                    <th data-sort="string">Name</th>
                    <th data-sort="string">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="param in activeParams()">
                    <td>{{param.name}}</td>
                    <td>{{param.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="tab-db">
              <table class="stupidtable" id="db"  ng-show="notEmpty(activeSqls())">
                <thead>
                  <tr>
                    <th data-sort="string">Location</th>
                    <th data-sort="string">Type</th>
                    <th class="fluid">SQL</th>
                    <th data-sort="float" class="duration">Duration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="sql in activeSqls()" ng-show="showQuery(sql.payload.name)" class="{{sql.payload.name}}">
                    <td>
                      <span ng-show="sql.payload.filename != undefined && sql.payload.line != undefined">
                        <a href="{{sql.payload.filename | editorify:sql.payload.line}}">{{sql.payload.filename | normalizePath}}:{{sql.payload.line}}</a>
                      </span>
                    </td>
                    <td>{{sql.payload.name}}</td>
                    <td>{{sql.payload.sql}}</td>
                    <td class="duration" data-sort-value="{{-sql.duration}}">{{sql.duration | number:0}} ms</td>
                  </tr>
                </tbody>
              </table>
              <div class="queries-summary" ng-show="notEmpty(activeSqls())">
                <div class="cached-queries-control" ng-show="activeCachedSqlsCount() > 0"><input id="show_cached_queries" type="checkbox" ng-model="showCachedSqls"/><label for="show_cached_queries">Show cached queries ({{activeCachedSqlsCount()}})</label></div>
                Number of executed queries: {{activeExecutedSqlsCount()}}
              </div>
            </div>
            <div id="tab-views">
              <table class="stupidtable" id="views" ng-show="notEmpty(activeViews())">
                <thead>
                  <tr>
                    <th data-sort="string">View</th>
                    <th data-sort="float" class="duration">Duration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="view in activeViews()">
                    <td>
                      <a href="{{view.payload.identifier | editorify:1}}">{{view.payload.identifier | normalizePath}}</a>
                      <span ng-show="view.payload.layout">within {{view.payload.layout}}</span>
                    </td>
                    <td class="duration" data-sort-value="{{-view.duration}}">{{view.duration | number:0}} ms</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="tab-cache">
              <table class="stupidtable" id="cache"  ng-show="notEmpty(activeCaches())">
                <thead>
                  <tr>
                    <th data-sort="string">Location</th>
                    <th data-sort="string">Type</th>
                    <th data-sort="string">Key</th>
                    <th class="fluid">Options</th>
                    <th data-sort="string">Hit</th>
                    <th data-sort="float" class="duration">Duration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cache in activeCaches()" class="{{cache.payload.name}}">
                    <td>
                      <span ng-show="cache.payload.filename != undefined && cache.payload.line != undefined">
                        <a href="{{cache.payload.filename | editorify:cache.payload.line }}">{{cache.payload.filename | normalizePath}}:{{cache.payload.line}}</a>
                      </span>
                    </td>
                    <td>{{cache.payload.type}}</td>
                    <td>{{cache.payload.key}}</td>
                    <td>{{cache.payload.options}}</td>
                    <td>{{cache.payload.hit}}</td>
                    <td class="duration" data-sort-value="{{-cache.duration}}">{{cache.duration | number:0}} ms</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="tab-log">
              <table id="log" ng-show="notEmpty(activeLog())">
                <thead>
                  <tr>
                    <th data-sort="string">Location</th>
                    <th data-sort="string" class="fluid">Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="log in activeLog()">
                    <td><a href="{{log.payload.filename | editorify:log.payload.line}}">{{log.payload.filename | normalizePath}}:{{log.payload.line}}</a></td>
                    <td ng-bind-html-unsafe="log.payload.message | toString | sanitize | ansi2html"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="tab-error">
              <table id="trace" ng-show="notEmpty(activeExceptionCalls())">
                <tr ng-repeat="exception in activeExceptionCalls()">
                  <td>{{exception.payload.call}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
