<html ng-app="RailsPanel" ng-csp="">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/panel.css">
    <script src="vendor/assets/javascripts/jquery-1.8.3.min.js"></script>
    <script src="vendor/assets/javascripts/jquery-ui-1.9.2.tabs.min.js"></script>
    <script src="vendor/assets/javascripts/stupidtable.min.js"></script>
    <script src="vendor/assets/javascripts/sugar-1.3.6.min.js"></script>
    <script src="vendor/assets/javascripts/sprintf-0.7-beta1.js"></script>
    <script src="vendor/assets/javascripts/URI.min.js"></script>
    <script src="vendor/assets/javascripts/keymaster.min.js"></script>
    <script src="vendor/assets/javascripts/ansi2html.js"></script>
    <script src="vendor/assets/javascripts/angular.min.js"></script>
    <script src="assets/javascripts/filters.js"></script>
    <script src="assets/javascripts/transactions.js"></script>
    <script src="assets/javascripts/development.js"></script>
    <script src="assets/javascripts/panel.js"></script>
  </head>
  <body>
    <div class="split-view" ng-controller='TransactionsCtrl'>
      <div class="split-view-contents split-view-contents-requests">
        <div class="data-grid data-grid-requests">
          <table class="header">
            <tr>
              <th class='status'>Status</th>
              <th class='controller'>Controller#Action</th>
              <th class='method'>Method</th>
              <th class='format'>Format</th>
              <th class='db'>DB</th>
              <th class='view'>View</th>
              <th class='other'>Other</th>
              <th class='duration'>Total</th>
            </tr>
          </table>
          <div class="data-container">
            <table id="requests">
              <tr ng-repeat="request in requests()" ng-click="setActive(request.key)" ng-class="getClass(request.key)">
                <td class='status'>{{request.payload.status}}</td>
                <td
                  class='controller'>{{request.payload.controller}}#{{request.payload.action}}</td>
                <td class='method'>{{request.payload.method}}</td>
                <td class='format'>{{request.payload.format}}</td>
                <td class='db'>{{request.payload.dbRuntimeRounded}}</td>
                <td class='view'>{{request.payload.viewRuntimeRounded}}</td>
                <td class='other'>{{request.payload.otherRuntimeRounded}}</td>
                <td class='duration'><strong>{{request.durationRounded}}</strong></td>
              </tr>
              <tr class="filler">
                <td class='status'></td>
                <td
                  class='controller'></td>
                <td class='method'></td>
                <td class='format'></td>
                <td class='db'></td>
                <td class='view'></td>
                <td class='other'></td>
                <td class='duration'></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="split-view-contents split-view-contents-details">
        <div id="message-box">
          You are using outdated version of meta_request gem. Please upgrade the gem.
        </div>
        <div id="tabs" class="tabbed-pane">
          <div class="tabbed-pane-header">
            <div class="tabbed-pane-header-contents">
              <ul class="tabbed-pane-header-tabs">
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-params" class="tabbed-pane-header-tab-title">Params</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-db" class="tabbed-pane-header-tab-title">DB</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-views" class="tabbed-pane-header-tab-title">View</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-log" class="tabbed-pane-header-tab-title">Log</a>
                </li>
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-error" class="tabbed-pane-header-tab-title">Error</a>
                </li>
              </ul>
            </div>
          </div> 
          <div class="tabbed-pane-content data-grid data-grid-details">
           <div id="tab-params">
              <table id="params">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="param in activeParams()">
                    <td>{{param.name}}</td>
                    <td>{{param.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="tab-db">
              <table class="stupidtable" id="db">
                <thead>
                  <tr>
                    <th data-sort="string">Type</th>
                    <th data-sort="string">SQL</th>
                    <th data-sort="float" class="duration">Duration (ms)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="sql in activeSqls()">
                    <td>{{sql.payload.name}}</td>
                    <td>{{sql.payload.sql}}</td>
                    <td class="duration">{{sql.duration | number:3}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="number-of-queries">Number of queries: {{activeSqls().length}}</div>
            </div>
            <div id="tab-views">
              <table class="stupidtable" id="views">
                <thead>
                  <tr>
                    <th data-sort="string">View</th>
                    <th data-sort="float" class="duration">Duration (ms)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="view in activeViews()">
                    <td><a href="{{view.payload.identifier | editorify:1}}">{{view.payload.identifier | normalizeViewPath}}</a></td>
                    <td class="duration">{{view.duration | number:3}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="tab-log">
              <table class="stupidtable" id="log">
                <tbody>
                  <tr ng-repeat="log in activeLog()">
                    <td><a href="{{log.payload.filename | editorify:log.payload.line}}" ng-html="log.payload.message | sanitize | ansi2html"></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="tab-error">
              <table id="trace">
                <tr ng-repeat="exception in activeExceptionCalls()">
                  <td>{{exception.payload.call}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
