* {
  -webkit-box-sizing: border-box;
}

body.rails-panel {
  background: #fff;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: -30px;
  -moz-margin-start: -30px;
  margin-top: 0;
  margin-bottom: 0;
}

.data-grid {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#tabs, table, tbody, tr, th, .data-grid {
  -webkit-touch-callout: none;
}

.data-grid table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: Lucida Grande, sans-serif;
  font-size: 11px;
}

.data-grid table th {
    background-image: url(../images/glossyHeader.png);
    background-repeat: repeat-x;
    border-right: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    height: 30px;
    font-weight: bold;
    padding: 0 6px;
    white-space: nowrap;
}

.data-grid table.stupidtable th[data-sort] {
    cursor: pointer;
}

.data-grid table td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  padding: 8px 4px;
  white-space: nowrap;
  overflow: hidden;
}

.data-grid .data-container {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: overlay;
}

table#requests {
  height: 100%;
}

table#requests td {
  padding: 8px 6px;
}

.data-container tr {
  height: 28px;
}

.data-container tr.filler {
  display: table-row !important;
  height: auto !important;
}

.data-container tr.filler td {
  padding: 0;
}

.data-grid-details table tr {
  border-bottom: 1px solid #eee;
}

.data-grid-details table a {
  text-decoration: none;
  color: #0859C9;
}

.data-grid-details table a:hover {
  text-decoration: underline;
}

.data-grid-details table td {
  white-space: normal;
  vertical-align:top;
  line-height: 12px;
  height: auto;
  border-right: 1px solid #eee;
}

.data-grid-details table td.duration {
  white-space: nowrap;
}

.data-grid-details table {
  table-layout: auto;
}

.data-grid-details table th {
    background-image: none;
    border-right: none;
    border-bottom: none;
    height: 18px;
    font-weight: bold;
    padding: 0 4px;
    white-space: nowrap;
}

th, td {
  text-align: left;
}

.view, .db, .other, .duration {
  text-align: right;
}

.data-container table tr:nth-child(even):not(.filler) {
  background: rgba(0, 0, 0, 0.05);
}

td.method, td.format, td.status, td.view, td.db, td.other, td.duration {
  background: rgba(0, 0, 0, 0.05);
}

.data-grid-details td:last-child {
  background: white;
  border-right: none;
}

table.header th {
  background: -webkit-gradient(linear, left top, left bottom, from(#ECECEC), to(#D9D9D9))
}

.method, .format, .status, .view, .db, .other {
  width: 56px;
}

#requests .duration {
  width: 74px;
}

.status, .method, .format {
  text-align: center;
}

.split-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}


.split-view-contents {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}


@media screen and (max-width: 1050px) {
  .split-view-contents-requests {
    left: 0px;
    width: 480px;
    bottom:50%;
    width:100%;
  }

  .split-view-contents-details {
    top:50%;
    width:100%;
  }

  #hdivider {
    background: #eee;
    border-top: 1px solid #A3A3A3;
    height: 3px;
    cursor: ns-resize;
  }

  #vdivider {
    display: none;
  }
}

@media screen and (min-width: 1051px) {
  .split-view-contents-requests {
    bottom: none;
    height: 100%;
    left: 0px;
    width: 481px;
  }

  .split-view-contents-details {
    top:0px;
    height:auto;
    right: 0px;
    left: 480px;
    width: auto;
    min-width: 365px;
  }

  #hdivider {
    display:none;
  }

  #vdivider {
    background: #fff;
    border-right: 1px solid rgb(179, 179, 179);
    width: 1px;
    float: left;
    height: 100%;
    cursor: ew-resize;
  }

}

.data-grid table th.duration {
  border-right: none;
  width: 75px;
}

.tabbed-pane {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: 100%;
}

.tabbed-pane-header {
  height: 31px;
  padding-top: 8px;
  white-space: nowrap;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ECECEC), to(#D9D9D9));
  border-bottom: 1px solid #A3A3A3;
}

.tabbed-pane-header-contents {
  margin: 0 10px;
}

.fl {
  float: left;
}

.tabbed-pane-header-tab {
  float: left;
  margin-top: 2px;
  font-size: 11px;
  font-weight: bold;
  color: #2E2E2E;
  background: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  vertical-align: middle;
  padding: 3px 4px 2px 4px;
  height: 21px;
  border: 1px solid transparent;
  border-bottom: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tabbed-pane-header-tab-title {
  vertical-align: top;
  font-family: Lucida Grande, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #2E2E2E;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  white-space: nowrap;
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}

.tabbed-pane-header-tab.ui-tabs-active {
  background-color: white;
  border: 1px solid #A3A3A3;
  border-bottom: none;
}

.tabbed-pane-header-tab a {
  text-decoration: none;
}

.tabbed-pane-header-tab, .tabbed-pane-header-tab a, .tabbed-pane-header-tab a:active {
  outline: none;
}

.tabbed-pane-content {
  -webkit-box-flex: 1;
  position: relative;
  overflow: auto;
  padding: 10px;
}

table#requests tr {
  cursor:pointer;
}

table#requests tr.selected {
  background: #3879D9;
  color: white
}

.queries-summary {
  font-family: Lucida Grande, sans-serif;
  font-size: 11px;
  padding: 7px 0 0 5px;
  font-weight: bold;
}

.cached-queries-control {
  float: right;
}

table#db .CACHE, table#db .CACHE a {
  color: #aaa;
}

#message-box {
  z-index: 77777777777;
  position:fixed;
  bottom: 0;
  right: 0;
  background: orange;
  color: black;
  font-size: 12px;
  padding: 1px 5px;
}

table .fluid {
  width: 100%
}

table#breakdown td {
  vertical-align: middle;
}

table#breakdown td.meter-col {
  padding: 2px 0;
}

.meter {
  padding: 9px 6px;
  height: 30px;
  background: #eee;
  float:left;
}




