* {
  -webkit-box-sizing: border-box;
}

.data-grid {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.data-grid table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: Lucida Grande, sans-serif;
  font-size: 11px;
}

.data-grid table th {
    background-image: url(../images/glossyHeader.png);
    background-repeat: repeat-x;
    border-right: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    height: 30px;
    font-weight: bold;
    padding: 0 4px;
    white-space: nowrap;
}

.data-grid table.stupidtable th {
    cursor: pointer;
}

.data-grid table td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  padding: 8px 4px;
  white-space: nowrap;
  overflow: hidden;
}

.data-grid .data-container {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: overlay;
}

table#requests {
  height: 100%;
}

.data-container tr {
  height: 28px; 
}

.data-container tr.filler {
  display: table-row !important;
  height: auto !important;
}

.data-container tr.filler td {
  padding: 0;
}

.data-grid-details table tr {
  border-bottom: 1px solid #eee;
}

.data-grid-details table a {
  text-decoration: none;
  color: #0859C9;
}

.data-grid-details table a:hover {
  text-decoration: underline;
}

.data-grid-details table td {
  white-space: normal;
  vertical-align:top;
  line-height: 12px;
  height: auto;
  border-right: 1px solid #eee;
}

.data-grid-details table {
  table-layout: auto;
}

.data-grid-details table th {
    background-image: none;
    border-right: none;
    border-bottom: none;
    height: 18px;
    font-weight: bold;
    padding: 0 4px;
    white-space: nowrap;
}

th, td {
  text-align: left;
}

.view, .db, .other, .duration {
  text-align: right;
}

.data-container table tr:nth-child(even):not(.filler) {
  background: rgba(0, 0, 0, 0.05);
}

td.method, td.format, td.status, td.view, td.db, td.other, td.duration {
  background: rgba(0, 0, 0, 0.05);
}

.data-grid-details td:last-child {
  background: white;
  border-right: none;
}

table.header th {
  background: -webkit-gradient(linear, left top, left bottom, from(#ECECEC), to(#D9D9D9))
}

.method, .format, .status, .view, .db, .other, .duration {
  width: 50px;
}

.status, .method, .format {
  text-align: center;
}

.split-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}


.split-view-contents {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  cursor: default;
}


@media screen and (max-width: 1039px) {
  .split-view-contents-requests {
    left: 0px;
    width: 680px;
    bottom:50%;
    width:100%;
  }

  .split-view-contents-details {
    top:50%;
    width:100%;
  }
}

@media screen and (min-width: 1040px) {
  .split-view-contents-requests {
    bottom: none;
    left: 0px;
    width: 680px;
    border-right: 1px solid #fff;
  }

  .split-view-contents-details {
    top:none;
    right: 0px;
    left: 680px;
    width: auto;
  }
}

.tabbed-pane {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: 100%;
}

.tabbed-pane-header {
  height: 31px;
  padding-top: 8px;
  padding-left: 25px;
  white-space: nowrap;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ECECEC), to(#D9D9D9));
  border-bottom: 1px solid #A3A3A3;
}

.tabbed-pane-header-contents {
  margin: 0 10px;
}

ul.tabbed-pane-header-tabs {
  position:relative;
  top:-16px;
  left:-50px;
  min-width: 300px;
}

.tabbed-pane-header-tab {
  float: left;
  margin-top: 2px;
  font-size: 11px;
  font-weight: bold;
  color: #2E2E2E;
  background: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  vertical-align: middle;
  padding: 3px 4px 2px 4px;
  height: 21px;
  border: 1px solid transparent;
  border-bottom: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tabbed-pane-header-tab-title {
  vertical-align: top;
  font-family: Lucida Grande, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #2E2E2E;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  white-space: nowrap;
  display:block;
  width:45px;
  text-align: center;
}

.tabbed-pane-header-tab.ui-tabs-active {
  background-color: white;
  border: 1px solid #A3A3A3;
  border-bottom: none;
}

.tabbed-pane-header-tab a {
  text-decoration: none;
}

.tabbed-pane-header-tab, .tabbed-pane-header-tab a, .tabbed-pane-header-tab a:active {
  outline: none;
}

.tabbed-pane-content {
  -webkit-box-flex: 1;
  position: relative;
  overflow: auto;
  padding: 10px;
}

table#requests tr {
  cursor:pointer;
}

table#requests tr.selected {
  background: #3879D9;
  color: white
}

.number-of-queries {
  font-family: Lucida Grande, sans-serif;
  font-size: 11px;
  padding: 7px 0 0 5px;
  font-weight: bold;
}

#message-box {
  z-index: 77777777777;
  position:fixed;
  bottom: 0;
  right: 0;
  background: orange;
  color: black;
  font-size: 12px;
  padding: 1px 5px;
  display: none;
}
